<div class="app-frame">
  <mat-card class="app-card">

    <mat-card-header class="app-header">
      <h2 class="app-headline">
        <mat-icon class="app-icon" *ngIf="message?.icon !== undefined">{{message?.icon}}</mat-icon>
        {{message?.headline}}
      </h2>
    </mat-card-header>

    <mat-card-content class="app-card--content">

      <a mat-stroked-button href="/" *ngIf="message?.reloadApplication; else elseCase">
        {{message?.button}}
      </a>

      <ng-template #elseCase>
        <button mat-stroked-button routerLink="/">
          {{message?.button}}
        </button>
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>
