<mat-card class="app-card">

  <mat-card-header class="app-header">
    <h2 class="app-headline">
      <mat-icon class="app-icon">outlined_flag</mat-icon>
      {{country?.name}}
    </h2>
  </mat-card-header>

  <mat-card-content class="app-card--content">

    <section>
      <label class="facts-card--label">Population</label>
      <div class="facts-card--item">{{country?.population | number}}</div>
    </section>

    <section>
      <label class="facts-card--label">Region</label>
      <div class="facts-card--item">{{country?.region}}</div>
    </section>

    <section>
      <label class="facts-card--label">Capital</label>
      <div class="facts-card--item">{{country?.capital}}</div>
    </section>

    <section>
      <label class="facts-card--label">{{country?.currencies.length === 1 ? 'Curreny' : 'Currencies'}}</label>
      <div class="facts-card--item facts-card--item__list">
        <mat-checkbox *ngFor="let curreny of country?.currencies" [ngModel]="true" disabled>{{curreny}}</mat-checkbox>
      </div>
    </section>

    <section>
      <label class="facts-card--label">{{country?.timezones.length === 1 ? 'Timezone' : 'Timezones'}}</label>
      <div class="facts-card--item facts-card--item__list">
        <mat-checkbox *ngFor="let timezone of country?.timezones" [ngModel]="true" disabled>{{timezone}}</mat-checkbox>
      </div>
    </section>

  </mat-card-content>
</mat-card>
