@import './../../../../styles/utils/variables';

.facts-card--label {
  font-size: 11px;
}

.facts-card--item {
  margin: 4px 0 15px 0;
}

.facts-card--item__list {
  align-content: center;
  align-items: center;
  margin-top: 0;

  /* TODO: ::ng-deep is deprecated */
  ::ng-deep {

    .mat-checkbox-disabled {
      .mat-checkbox-label {
        color: $colorBlack;
      }
    }

    .mat-checkbox-disabled.mat-checkbox-checked {
      .mat-checkbox-background {
        background-color: $colorBlack;
      }
    }

    .mat-checkbox-inner-container {
      display: none;
    }
  }

  > * {
    margin-right: 1em;
  }
}
