@import './../../../../styles/utils/variables';

.facts-card--label {
  font-size: 11px;
}

.facts-card--item {
  margin: 4px 0 15px 0;
}

.facts-card--item span {
  margin-right: 1em;
  margin-bottom: 0.5em;
  float: left;
}

.facts-card--item:last-child::after {
  content: '';
  display: block;
  clear: both;
}
